body {
    margin: 0;
    padding: 0;
}

#header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

}

#header-img {
    width: 70px;
    padding: 50px;

}

#email {
    background-color: rgb(255, 255, 154);
}

.nav-link{
    
    
}
